name: test with env

on: [push, pull_request]

jobs:
    build:
        name: react build & test
        runs-on: ubuntu-latest
        steps:
            - name: Checkout repository
              uses: actions/checkout@v4

            - name: .env creating
              run: |
               echo "Port=3000" >> .env
               echo "SESSION_SECRET=your_session_secret" >> .env
               echo "JWT_ACCESS_TOKEN_SECRET=your_jwt_access_token_secret" >> .env
               echo "JWT_REFRESH_TOKEN_SECRET=your_jwt_refresh_token_secret" >> .env
               echo "DATABASE_URL=${{ secrets.DATABASE_URL }}" >> .env
               echo "AWS_REGION=${{ secrets.AWS_REGION }}" >> .env
               echo "AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }}" >> .env
               echo "AWS_S3_BUCKET=${{ secrets.AWS_S3_BUCKET }}" >> .env

            - name: Install dependencies
              run: npm install

            - name: Prisma Generate
              run: npx prisma migrate dev

            - name: Prisma Migrate
              run: npx prisma migrate generate

            - name: Run tests
              run: npm test